body {
	--z-layer-scrollbar: 100;
	--z-layer-header: 3;
	--z-layer-header-bg: 2;
	--z-layer-content: 1;
	--z-layer-placeholder: 0;
	--scrollbar-size-vertical: 0;
	--scrollbar-size-horizontal: 0;
	--content-translate: 0px;
	--row-height: 2em;
	width: 100vw;
	height: 100vh;
	font-family: var(--vscode-editor-font-family);
	user-select: none;
	overflow: hidden;
	padding: 0;
}

.viewport {
	width: fit-content;
	place-self: start;
	display: grid;
	grid: repeat(2, var(--row-height)) / [offset] auto 0.3rem repeat(16, [byte] auto) 1rem repeat(16, [text] auto) [end];
	place-content: start;
	align-items: center;
	padding: 0 20px;
}

.scrollbar {
	position: fixed;
	background: var(--vscode-editor-background);
	z-index: var(--z-layer-scrollbar);
}

.scrollbar .handle {
	background: var(--vscode-scrollbarSlider-background);
	position: absolute;
}

.scrollbar .handle:hover {
	background: var(--vscode-scrollbarSlider-hoverBackground);
}

.scrollbar .handle.active {
	background: var(--vscode-scrollbarSlider-activeBackground);
}

.scrollbar.vertical {
	width: var(--scrollbar-size-vertical);
	bottom: var(--scrollbar-size-horizontal);
	top: 0;
	right: 0;
}

.scrollbar.horizontal {
	height: var(--scrollbar-size-horizontal);
	right: var(--scrollbar-size-vertical);
	bottom: 0;
	left: 0;
}

.scrollbar.vertical .handle {
	width: var(--scrollbar-size-vertical);
}

.scrollbar.horizontal .handle {
	height: var(--scrollbar-size-horizontal);
}

.scrollbar.corner {
	width: var(--scrollbar-size-vertical);
	height: var(--scrollbar-size-horizontal);
	bottom: 0;
	right: 0;
}

.container,
.placeholders,
header,
section {
	display: contents;
}

header.column > * {
	grid-row: 1 / span 1;
}

header.column > .background {
	align-self: stretch;
	grid-column: 1 / end;
	background: var(--vscode-editor-background);
	z-index: var(--z-layer-header-bg);
}

header.column > .progress {
	--design-unit: 3;
	grid-column: offset / span 1;
	display: grid;
	place-items: center;
	visibility: hidden;
	z-index: var(--z-layer-header);
}

header.column > .spacer {
	grid-column: offset / span 1;
	visibility: hidden;
}

header.column > .cell {
	z-index: var(--z-layer-header);
}

header.row > * {
	grid-column: offset / span 1;
}

header.row > *,
section > *,
.placeholders > div {
	grid-row: 2 / span 1;
	transform: translateY(calc(var(--row-index) * var(--row-height) + var(--content-translate)));
}

.placeholders > div {
	place-self: center;
	background: var(--vscode-editor-background);
	z-index: var(--z-layer-placeholder);
}

.placeholders > div > div {
	width: calc(var(--row-height) / 3);
	aspect-ratio: 1;
	border-radius: 50%;
	background: var(--vscode-editorGhostText-foreground);
}

.cell {
	padding: 0.3em 0.3rem;
	background: var(--vscode-editor-background);
	z-index: var(--z-layer-content);
}

.offset {
	color: var(--vscode-editorLineNumber-foreground);
}

.empty {
	color: var(--vscode-editorGhostText-foreground);
}

.shadow {
	background: var(--vscode-editor-hoverHighlightBackground);
}

.highlight {
	background: var(--vscode-editor-wordHighlightStrongBackground);
}

.selected {
	background: var(--vscode-editor-selectionBackground);
}
